<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/employer-navigation.ejs') %>

   <main>
    <h1>Welcome to Spec - Your Gateway to Inclusive Employment!</h1><br>
    <h2>At Spec, we are dedicated to revolutionizing the job search experience for individuals on the autistic spectrum. </h2>
    <h2>We understand that finding meaningful employment can be an arduous and often overwhelming task for individuals with autism, and that's why we have crafted a platform tailored to their unique needs and talents.</h2>
    <h2>Our mission is to bridge the gap between qualified candidates on the spectrum and employers who value diversity and inclusion.</h2><br>
    <h2>For many individuals on the autistic spectrum, traditional job search platforms like LinkedIn can present significant challenges.</h2>    
    <h2>These platforms often prioritize networking and social interactions, which can be particularly daunting for those with autism who may experience difficulties in communication and social skills.</h2>
    <h2>As a result, talented individuals on the spectrum may struggle to effectively showcase their skills, qualifications, and potential to prospective employers.</h2><br>
    <h2>However, at Spec, we recognize the untapped potential and extraordinary talents that individuals on the spectrum possess.</h2> 
    <h2>Our platform offers a supportive environment that focuses on abilities, skills, and achievements, providing a level playing field for job seekers regardless of their social prowess.</h2>     
    <h2>Through innovative features and user-friendly interfaces, we have designed an experience that empowers candidates to present their talents effectively and confidently.</h2><br>
    <h2>Our commitment to inclusivity extends beyond the job search process. </h2>    
    <h2>Spec collaborates with employers who prioritize creating diverse and accommodating work environments. </h2>    
    <h2>By fostering understanding and awareness, we ensure that both candidates and employers embrace the benefits of neurodiversity.</h2><br>    
    <h2>With Spec, job seekers on the autistic spectrum can discover a wide range of opportunities that align with their unique talents, interests, and skills.</h2>    
    <h2>Our platform not only simplifies the job search process but also provides valuable resources, such as interview preparation and workplace integration support, to help candidates thrive in their chosen careers.</h2><br>
    <h2>Join us at Spec and embark on a journey towards a more inclusive, understanding, and supportive employment landscape. </h2>   
    <h2>Together, let's unlock the potential of every individual, making a positive impact on both the lives of candidates and the companies that embrace diversity. Welcome to a brighter, more inclusive future of employment!</h2>             
</main>
<%- include('../includes/end.ejs') %>
